{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- Migas de pan -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <nav aria-label="breadcrumb" class="mb-0">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a href="{% url 'menu_principal' %}" class="text-dark">
            <i class="fa-solid fa-house"></i>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'lista_entrenadores' %}" class="text-dark">Entrenadores</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'detalle_entrenador' entrenador.id %}" class="text-dark">Detalle</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Eliminar </li>
      </ol>
    </nav>
  </div>

  <div class="container mt-4"></div>
  <div class="card shadow rounded-4">
    <div class="card-header bg-danger text-white text-center rounded-top-4">
      <h4 class="mb-0">Eliminar Entrenador</h4>
    </div>
    <div class="card-body bg-light rounded-bottom-4">

      <p class="mb-4 text-center">
        ¿Estás seguro que deseas eliminar al entrenador
        <strong>{{ entrenador.nombre }} {{ entrenador.apellido }}</strong> (C.I. {{ entrenador.cedula }})?
        Esta acción no se puede deshacer.
      </p>

      <form method="post" class="d-flex justify-content-center gap-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i>  Eliminar</button>
        <a href="{% url 'detalle_entrenador' entrenador.id %}" class="btn " style="background: #f8b100;"><i class="fa-solid fa-arrow-left"></i> Cancelar</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
